.pag-front-card01 {
    background-image: url("../../img/icones/front/card.jpg");
}

.pag-front-card02 {
    background-image: url("../../img/icones/front/buttons.jpg");
}

.pag-front-card03 {
    background-image: url("../../img/icones/front/swithes.jpg");
}

.pag-front-card04 {
    background-image: url("../../img/icones/front/form.jpg");
}

.pag-front-card05 {
    background-image: url("../../img/icones/front/loader.jpg");
}