.pag-front-card {
    background-image: url("../../img/icones/front/card.jpg");
}

.pag-front-button {
    background-image: url("../../img/icones/front/buttons.jpg");
}

.pag-front-switches {
    background-image: url("../../img/icones/front/swithes.jpg");
}

.pag-front-form {
    background-image: url("../../img/icones/front/form.jpg");
}

.pag-front-input {
    background-image: url("../../img/icones/front/loader.jpg");
}
.pag-front-loader {
    background-image: url("../../img/icones/front/loader.jpg");
}
.pag-front-loader {
    background-image: url("../../img/icones/front/loader.jpg");
}
.pag-front-loader {
    background-image: url("../../img/icones/front/loader.jpg");
}