.pag-front-card01 {
    background-image: url("../../img/front/card\ 01.jpg");
}

.pag-front-card02 {
    background-image: url("../../img/front/card\ 02.jpg");
}

.pag-front-card03 {
    background-image: url("../../img/front/card\ 03.png");
}

.pag-front-card04 {
    background-image: url("../../img/front/card\ 04.png");
}

.pag-front-card05 {
    background-image: url("../../img/front/card\ 05.png");
}

.pag-front-card06 {
    background-image: url("../../img/front/card\ 06.png");
}

.pag-front-card07 {
    background-image: url("../../img/front/card\ 07.png");
}

.pag-front-card08 {
    background-image: url("../../img/front/card\ 08.png");
}

.pag-front-card09 {
    background-image: url("../../img/front/card\ 09.png");
}