.pag-back-cmd {
    background-image: url("../../img/icones/back/cmd.jpg");
}

.pag-back-excel {
    background-image: url("../../img/icones/back/excel.jpg");
}

.pag-back-android {
    background-image: url("../../img/icones/back/android.jpg");
}