/* pag  do perfil  */
.pag-perfil {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 25vw 1fr;
    /* border: solid red ; */
    height: 110px;
}

.pag-perfil-foto {
    background-image: url("../img/icon_code.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* background-color: red; */
    position: relative;
    display: inline-block;
    top: -10%;
    /* transform: translateY(-10%); */

}

.pag-perfil-foto>div {
    position: relative;
    top: 100;
    width: 150px;
    /* border: solid red 1px; */
}

.pag-titulo-perfil {
    position: relative;
    /* height: 0%; */
    /* top: 15px; */
    /* top: 50%;  */
    /* transform: translateY(-50%); */
    /* border: solid red 1px; */
}


/* front end  ---------------------------*/

.pag-front {
    position: relative;
    /* border: solid rgb(255, 0, 0) 1px; */
    height: 150px;
}

.pag-front-seta>.esquerda {
    position: relative;
    top: -30px;
    right: 85vw;

}

.pag-front-seta {
    position: relative;
    /* align-items: left; */
    /* border: solid blue; */
    font-size: 20px;
    width: 40px;
    margin-left: 86vw;
    top: -11vh;
    opacity: 50%;
}



.pag-front>div {
    position: relative;
    top: 2px;
    /* border: solid blue 1px; */
    height: 130px;
    /* padding: 10px; */

}

.pag-front-circulo::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pag-front-circulo {
    overflow: auto;
    height: 120px;
    position: relative;
    /* border: solid red 1px; */
    display: grid;
    grid-template-columns: repeat(var(--quantidade-front-end), 27vw);
    justify-items: center;


}

.pag-front-circulo>div>a {

    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    display: inline-block;
}

.pag-front-circulo>div>a>label {

    position: relative;
    top: 10px;
    /* border: solid red 1px; */
}

.pag-front-circulo>div {

    position: relative;
    top: 5px;
    border: solid #727272 2px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
}

.pag-front>a {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
}

.pag-front-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* back end  ---------------------------*/

.pag-back-circulo::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* border: solid red 1px; */
}

.pag-back {
    position: relative;
    /* border: solid blue 1px; */
    height: 140px;
    /* top: 10px; */

}

.pag-back-circulo {
    overflow: auto;
    height: 15%;
    height: 120px;
    position: relative;
    top: 10px;
    /* border: solid red 1px; */
    display: grid;
    grid-template-columns: repeat(var(--quantidade-back-end), 30vw);
    justify-items: center;
    /* border: solid red 1px; */

}

.pag-back-circulo>div>a {

    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    display: inline-block;
    /* border: solid red 1px; */
}

.pag-back-circulo>div>a>label {

    position: relative;
    top: 10px;
    /* border: solid red 1px; */
}

.pag-back-circulo>div {
    /* border: solid red 1px; */
    position: relative;
    /* top: 5px; */
    border: solid #727272 2px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    top: 5px;
}



.pag-back-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.pag-back-seta>.esquerda {
    position: relative;
    top: -30px;
    right: 85vw;
}

.pag-back-seta {
    position: relative;
    /* align-items: left; */
    /* border: solid blue; */
    font-size: 20px;
    width: 40px;
    left: 86vw;
    top: -65px;
    opacity: 50%;
}

/* perfil do portifolio ------------ */
.pag-portfolio-circulo {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* border: solid blue 1px; */
}

.pag-portfolio-circulo>div {

    border: solid #727272 1px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--altura-status);
    height: var(--largura-status);
    border-radius: 50%;
    background-color: rgba(250, 9, 9, 0);
}

.pag-portfolio-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    /* border: solid red 1px; */
}

/* .pag-portfolio {
    border: solid rgb(238, 255, 0) 7px;
} */

.pag-portfolio>h2 {
    /* border: solid rgb(238, 255, 0) 7px; */
    position: relative;
    top: -15px;
}

.pag-portfolio>div {
    /* border: solid rgb(255, 0, 0) 7px; */
    position: relative;
    top: -40px;
}

.pag-portfolio-perfil {
    background-image: url("../img/luizinhovi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pag-titulo-portfolio {
    /* border: solid red 1px; */
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* pagina footer ***************************** */
.pag-final {
    position: absolute;
    width: 100%;
    /* height: 100%; */

    /* background-color: rgb(141, 143, 141); */

}

.contato {
    border: black solid 1px;
    border-radius: 15px;
    width: 25vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* buttons do whatsapp e instagram **** */
.aperta {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.frente {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.aperta:active .frente {
    transform: translateY(-2px);
}