.pag-topo {
    border: solid red 1px;
    width: 99vw;
    height: 40px;
}

.pag-titulo {
    font-size: 7vw;
    position: absolute;
    left: 5px;
    cursor: pointer;
}
/* pag  do perfil  */

/* front end  ---------------------------*/

.pag-front {
    position: relative;
    /* border: solid blue; */
    /* width: 80%; */

}

.pag-front>h2 {
    position: relative;
    top: -20px;
    border: solid blue 1px;
    /* width: 80%; */

}

.pag-front>div {
    position: relative;
    top: -40px;
    border: solid blue 1px;
    padding: 10px;
    /* width: 80%; */

}

.pag-front-circulo::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pag-front-circulo {
    overflow: auto;
    height: 15%;
    position: relative;
    /* border: solid red 1px; */
    display: grid;
    grid-template-columns: repeat(9, 30vw);
    justify-items: center;


}

.pag-front-circulo>div>a {

    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    display: inline-block;
}

.pag-front-circulo>div {

    position: relative;
    top: 5px;
    border: solid #727272 2px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
}

.pag-front>a {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
}

.pag-front-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* back end  ---------------------------*/

.pag-back {
    position: relative;
    /* border: solid blue; */
    /* width: 80%; */



}

.pag-back-circulo::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pag-back-circulo {
    overflow: auto;
    height: 15%;
    position: relative;
    /* border: solid red 1px; */
    display: grid;
    grid-template-columns: repeat(9, 30vw);
    justify-items: center;


}

.pag-back-circulo>div>a {

    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    display: inline-block;
}

.pag-back-circulo>div {

    position: relative;
    top: 5px;
    border: solid #727272 2px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
}

.pag-back>a {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
}

.pag-back-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* perfil do portifolio ------------ */
.pag-portfolio-circulo {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* border: solid blue 1px; */
}

.pag-portfolio-circulo>div {

    border: solid #727272 1px;
    box-shadow: 0px 0px 5px 0px black;
    width: var(--altura-status);
    height: var(--largura-status);
    border-radius: 50%;
    background-color: rgba(250, 9, 9, 0);
}

.pag-portfolio-circulo>div>a>div {
    width: var(--largura-status);
    height: var(--altura-status);
    border-radius: 50%;
    /* border: solid red 1px; */
}

.pag-portfolio {
    /* border: solid rgb(238, 255, 0) 7px; */
}

.pag-portfolio>h2 {
    /* border: solid rgb(238, 255, 0) 7px; */
    position: relative;
    top: -15px;
}

.pag-portfolio>div {
    /* border: solid rgb(255, 0, 0) 7px; */
    position: relative;
    top: -40px;
}

.pag-portfolio-perfil {
    background-image: url("../img/luizinhovi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pag-titulo-portfolio {
    /* border: solid red 1px; */
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* pagina footer ***************************** */
.pag-final {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    bottom: ;
    /* background-color: rgb(141, 143, 141); */

}

.contato {
    border: black solid 1px;
    border-radius: 15px;
    width: 25vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* buttons do whatsapp e instagram **** */
.aperta {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.frente {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.aperta:active .frente {
    transform: translateY(-2px);
}