/*todos os projetos de status *****************/
.pag-projeto-fullstack::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pag-projeto-fullstack {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(var(--total-projetos), 100px);
    /* border: solid red 1px; */
    height: 120px;
}

.circulo-status {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: var(--altura-status);
    height: var(--largura-status);
    border: solid blue 1px;
    box-shadow: 0px 0px 8px 0px black;
    /* background-color: red; */
    border-radius: 100%;
    left: 10px;
    top: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pag-projeto-1>div {
    position: relative;
    top: 90px;
}

/* nome do projetos  */
.pag-projeto-nome {
    display: grid;
    grid-template-columns: 1fr 30vw;
    position: relative;
    top: 10px;
    /* border: solid red 1px; */
}

.pag-projeto-perfil {
    background-image: url("../img/luizinhovi.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    /* border: solid blue; */

}

.pag-projeto-perfil>div {
    position: relative;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 50vw;
    font-size: 25px;
    /* height: 30px; */
    /* border: solid red; */

}

.pag-projeto-nome>nav {
    position: relative;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
    /* border: solid red 1px; */
    /* width: 100%; */
    height: 20px;
}



/* pagina projeto para mostrar os arquivos ********** */

.pag-projeto-mostrar {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    box-shadow: 0px 0px 20px 0px black;
    position: relative;
    /* border: solid red 1px; */
    top: 20px;
    border-radius: 20px;
}


.pag-projeto {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.pag-projeto-download {
    position: relative;
    /* border: solid red; */
    left: 10px;
    top: 10px;
    width: 90%;
    height: 20px;
}

.pag-projeto-download>button {
    width: 90px;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px;
}

/* quantidade de numero de projetos *********/
.pag-projeto-numero-arquivo::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pag-projeto-numero-arquivo {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(var(--quantidade-de-arquivos), 40px);
    position: relative;
    top: 8px;
    padding: 5px;
    /* border: solid red; */
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.pag-projeto-numero-setas::after {
    content: "⬅️";
    position: relative;
    left: -10px;
    top: 40px;
    opacity: 50%;
    z-index: 1;
}

.pag-projeto-numero-setas::before {
    content: "➡️";
    position: relative;
    left: 93vw;
    top: 40px;
    z-index: 1;
    opacity: 50%;
}



.pag-projeto-numero-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    border-radius: 100%;
    /* border: solid red ; */
    box-shadow: 0px 0px 2px 0px black;
}

/* texto do arquivo *********************** */
.pag-projeto-texto {
    position: relative;
    top: 25px;
    border: solid red 1px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.pag-projeto-github {
    background-image: url("../img/icon\ github.jpg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid red; */
    display: inline-block;
}